<h4>Cher <%= @user.email %></h4>

<p>
  Vous avez proposé une ressource sur <%= link_to "Comme à la maison", root_url %> et nous vous en remercions. Votre ressource a été approuvée et est désormais visible.
</p>

<p>
  Bonne journée ! ☀️
</p>
