<h4>Cher <%= @user.email %></h4>

<p>
  Merci d'avoir participé à <%= link_to "Comme à la maison", root_url %>. Votre ressource sera examinée et approuvée prochainement.
</p>

<p>
  Bonne journée ! ☀️
</p>
