.resource-new {
  text-align: right;
  display: block;
  margin: 8px;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
}

h1 {
  font-size: 40px;
  color: black;
  text-align: center;
}

h4 {
  font-size: 20px;
  color: black;
  text-align: center;
}

.log-out {
  color: black;
  margin: 16px;
}

.search {
  display: flex;
  justify-content: center;
  margin: 32px;
}

.search-bar {
  height: 100%;
}

.activity-type a:hover,
.public a:hover,
.objectif a:hover {
  text-decoration: none;
}
