.resource-new {
  text-align: right;
  display: block;
  margin: 8px;
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: black;
  }
}

h1 {
  font-size: 40px;
  color: black;
  text-align: center;
}

h4 {
  font-size: 20px;
  color: black;
  text-align: center;
}

p {
  font-style: "Nunito";
}
