.resource-card {
  background: transparent;
  border: solid 2px black;
  border-radius: 4px;
  padding: 32px;
  margin: 16px;
  max-width: 408px;
  a {
    color: black;
  }
  a:hover {
    color: black;
  }
}
