.resource-card {
  background: transparent;
  border: solid 2px black;
  border-radius: 4px;
  padding: 32px;
  margin: 16px;
  p {
    color: black;
  }
  &:hover {
    p {
      color: black;
    }
    background-color: rgb(200, 200, 200);
    text-decoration: none;
  }
}
